/EJB-CH03-Persistence/EJB-CH03-Persistence-ejb/target/
/EJB-CH03-Persistence/EJB-CH03-Persistence-web/target/
/EJB-CH03-Persistece/target/
/BEGINNING-EJB-CH03-Persistence/nbproject/private/
/BEGINNING-EJB-CH03-Persistence/build/
/BEGINNING-EJB-CH03-Persistence/dist/
/EJB-CH04-InheritanceType-Single-Table/target/
/EJB-CH04-InheritanceType-Joined-Table/target/
/EJB-CH04-InheritanceType-Table-Per-Clas/target/
/EJB-CH04-InheritanceType-MappedSupperClass/target/
/EJB-CH06-WebService/target/
/EJB-CH06-WebService-Client/target/
/EJB-CH05-EJB-Message-Driven-Beans/nbproject/private/
/EJB-CH07-ServiceIntegration/nbproject/private/
/EJB-CH07-ServiceIntegration/EJB-CH07-ServiceIntegration-war/nbproject/private/
/EJB-CH07-ServiceIntegration/EJB-CH07-ServiceIntegration-ejb/nbproject/private/
/EJB-CH07-ServiceIntegration/EJB-CH07-ServiceIntegration-jpa/target/
/EJB-CH07-ServiceIntegration/EJB-CH07-ServiceIntegration-ejb/build/
/EJB-CH07-ServiceIntegration/EJB-CH07-ServiceIntegration-ejb/dist/
/EJB-CH07-ServiceIntegration-WebService/nbproject/private/
/EJB-CH07-ServiceIntegration-WebService/dist/
/EJB-CH07-ServiceIntegration-WebService/build/